* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    overflow: hidden;
}

.cursor {
    cursor: pointer;
}

/* debug  */

/* #teal {
    background-color: teal;
} */

/* #blu {
    background-color: blue;
} */

/* #tomato {
    background-color: tomato;
} */

/* #green {
    background-color: seagreen;
} */

/* #orange {
    background-color: rgb(255, 179, 0);
} */

/* #violet {
    background-color:violet;
} */


/* debug */

/* main  */


/* hover  *//* hover  *//* hover  *//* hover  */

.white-ov:hover {
    color: white;
}

.white-ov-menu:hover{
    color: white;
}

.white-ov-menu:hover img {
    filter:none;
}

.big:hover {
    font-size: 45px;
}

.green-bar:hover {
    background-color: rgb(2, 195, 2);
}

.botto-ov:hover .bottone {
    display: inline;
}

.big-update:hover {
    font-size: 20px; 
}


/*fine  hover  *//*fine  hover  *//*fine  hover  */
.overflow {
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
}

.cont-menu {
    position: fixed;
    width: 15%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.cont-head {
    width: 100%;
    height: 5vw;
    background-color: rgb(4,4,4);
}

.cont-head a {
    color: white;
    text-decoration: none;
    float: right;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 40px;
    margin:20px 10px;
}
  
.margin-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logo img {
    width:60% ;
    margin-left: 10px;
    margin-top: 20px;
}

.log-smal {
    display:none;
}

.h-menu {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    color:rgb(167,163,163);
}

.home {
    display: flex;
    align-items: center;
    border-left: 3px solid green;
    margin-top: 10px;
    color: white;
}

.ricerca,
.libreria {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.h-menu img {
    width: 2.5vw;
    height: 2vw;
    filter: brightness(0.5);
    margin-right: 8px;
}

.add-libreria {
    margin-top: 20px;
    color:rgb(167,163,163);
    margin-left: 10px;
}

.add-libreria p {
    margin-bottom: 10px;
}

.crea-playlist {
    display: flex;
    align-items: center;
}

.crea-playlist .fas {
    font-size: 50px;
    margin: 10px 0;
    margin-right: 10px;
}


.liste {
    color:rgb(167,163,163);
}

.end {
    position: fixed;
    height: 88%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 999;
    margin-left: 12px;
}

.instal {
    position: fixed;
    width: 14%;
    height: 50px;
    bottom: 105px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.scarica {
    width: 12vw;
    display: flex;
    color: rgb(167,163,163);
    border-bottom: 1px solid rgb(167,163,163);
    padding-bottom: 10px;
}

.profili {
    width: 14vw;
    display: flex;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    align-items: center
}


.scarica img {
    width: 1vw;
    height: 1vw;
    margin-right: 5px;
}

.profili img {
    width: 1.5vw;
    height: 1.5vw;
    background-color: #837e7e;
    border-radius: 20px;
    margin-right: 10px;
}

.cont-main {
    width: 100%;
    height: 170vh;
    background-color: #141922;
}

.info {
    width: 100%;
    padding-left: 16%;
}

/* lista  *//* lista  *//* lista  *//* lista  *//* lista  */

.main-menu {
    width: 100%;
    height: 5vh;
}

.m-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0 20%;

}

.m-menu ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap;
}

.m-menu li {
    color: rgb(167,163,163);
    max-width: 100%;
    margin-left: 20px;
}

.green-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(167,163,163);
}


#b-green {
    /* width: 2vw; */
    border-bottom:1px solid chartreuse;
}


/* fine lista  *//* fine lista  *//* fine lista  *//* fine lista  */

/* album  *//* album  *//* album  *//* album  *//* album  *//* album  */


.playlist {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 5%;
}

.generi {
    color: white;
}

#info-generi {
    color: rgb(167,163,163);
}

.album {
    position: relative;
    float: left;
    margin-right: 20px;
    text-align: center;
}

.cont-black {
    display: none;
    position:absolute;
    width:12.1vw;
    height:13vw;
    background-color: rgba(0, 0, 0, 0.616);
    top: 6.5vw;
    left: 6vw;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.cont-over {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
}

.cont-over .far {
    font-size: 100px;
}

.album:hover .cont-black {
     display: inline-block;
}

.album h3 {
    color:white
}

.album p {
  color: rgb(167,163,163) ;
}

.album img {
    width: 12vw;
    height: 13vw;
}

#circol {
    border-radius: 50%;

}

/* fine album  *//* fine album  *//* fine album  *//* fine album  */

/* barra di riproduzione  *//* barra di riproduzione  *//* barra di riproduzione  */

.cont-end {
    bottom: 0;
    width: 100%;
    height:10vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: rgb(63, 60, 60);
    z-index: 999;
}

.brano {
    display: flex;
    align-items: center;
}

.nbrano {
    display: flex;
    margin: 0 10px;
    flex-direction: column;
    color: white;
}

.light-black {
    color: rgb(129, 127, 127);
}

.folder-heart {
    display: flex;
    flex-direction: column;
}

.fa-heart,
.fa-folder {
    margin: 2px 5px;
    color: rgb(167,163,163);
    font-size: 20px;

}

.margin-end {
    display: flex;
    margin: 0 20px;
}

/* bottoni time bar  *//* bottoni time bar  *//* bottoni time bar  */

.play-bar {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    color: rgb(255, 253, 253);
}

.fa-random,
.fa-step-backward,
.fa-step-forward,
.fa-redo-alt {
    font-size: 25px;
    margin: 5px 20px;
}

.fa-play-circle {
    font-size: 40px;
}

/* fine bottoni time bar  *//* fine bottoni time bar  *//* fine bottoni time bar  */

.margin-end img {
    width: 2.5vw;
    height: 2.5vw;
}

.cont-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.center-bar {
    width: 20vw;
    height: 0.3vw;
    margin: 0 10px;
}

.cont-center-bar {
    display: flex;
    align-items: center;
}

.cont-center-bar span {
    color: white;
}

.cont-bar-right {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.cont-bar-right .fas {
    margin-right: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

#bar {
    background-color: rgb(122,112,112);
    border-radius: 20px;
}

    
.cont-bar-right .inter-bar {
    width: 2vw;
}

.inter-bar {
    background-color: white;
    border-radius: 20px;
    width: 6vw;
    height: 0.3vw;
}

.right-bar {
    width: 5vw;
    height: 0.3vw;
}

.bottone {
    display: none;
    bottom: 18%;
    right: 55%;
    position: absolute;
    width: 1vw;
    height: 1vw;
    background-color: white;
    border-radius: 50%;
    z-index: 999;
}

.right-bar .inter-bar .bottone {
    bottom: 40%;
    right: 3.5%;
    position: absolute;
    width: 1vw;
    height: 1vw;
    background-color: white;
    border-radius: 50%;
    z-index: 999;
}


/* fine barra di riproduzione  *//* fine barra di riproduzione  */

/* fine main */
