* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    overflow: hidden;
}

.cursor {
    cursor: pointer;
}

/* debug  */

/* #teal {
    background-color: teal;
} */

/* #blu {
    background-color: blue;
} */

/* #tomato {
    background-color: tomato;
} */

/* #green {
    background-color: seagreen;
} */

/* #orange {
    background-color: rgb(255, 179, 0);
} */

/* #violet {
    background-color:violet;
} */


/* debug */

/* main  */

.overflow {
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
}

.cont-menu {
    position: fixed;
    width: 15%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.cont-head {
    width: 100%;
    height: 5vw;
    background-color: rgb(4,4,4);
}

.cont-head a {
    color: white;
    text-decoration: none;
    float: right;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 40px;
    margin:20px 10px;
}
  
.margin-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logo img {
    width:60% ;
    margin-left: 10px;
    margin-top: 20px;
}

.h-menu {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    color:rgb(167,163,163);
}

.home {
    display: flex;
    align-items: center;
    border-left: 3px solid green;
    margin-top: 10px;
}

.ricerca,
.libreria {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.add-libreria {
    margin-top: 20px;
    color:rgb(167,163,163);
    margin-left: 10px;
}

.add-libreria p {
    margin-bottom: 10px;
}

.crea-playlist {
    display: flex;
    align-items: center;
}

.crea-playlist .fas {
    font-size: 50px;
    margin: 10px 0;
    margin-right: 10px;
}

.h-menu img {
    width: 2.5vw;
    height: 2vw;
    filter: brightness(0.5);
    margin-right: 8px;
}

.liste {
    color:rgb(167,163,163);
}

.end {
    position: fixed;
    height: 88%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 999;
    margin-left: 12px;
}

.instal {
    position: fixed;
    bottom: 100px;
    margin-left: 10px;
}

.scarica {
    width: 12vw;
    display: flex;
    color: rgb(167,163,163);
    border-bottom: 1px solid rgb(167,163,163);
    padding-bottom: 10px;
}

.profili {
    width: 14vw;
    display: flex;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    align-items: center
}


.scarica img {
    width: 1vw;
    height: 1vw;
    margin-right: 5px;
}

.profili img {
    width: 1.5vw;
    height: 1.5vw;
    background-color: #837e7e;
    border-radius: 20px;
    margin-right: 10px;
}

.cont-main {
    width: 100%;
    background-color: #141922;
}

.info {
    width: 100%;
    margin-left: 16%;
}

/* lista  */

.main-menu {
    width: 100%;
    height: 5vh;
}

.m-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 20%;

}

.m-menu ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap;
}

.m-menu li {
    color: rgb(167,163,163);
    max-width: 100%;
    margin-left: 20px;
}

.green-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(167,163,163);
}

.green-border span {
    padding-bottom: 1px;
}


#b-green {
    width: 2vw;
    border-top:1px solid chartreuse;
}


/* fine lista  */

/* album  */


.playlist {
    width: 100%;
    padding: 10px 10px;
}

.generi {
    color: white;
}

.album {
    float: left;
    margin-right: 20px;
}

.album h3 {
    color:white
}

.album p {
  color: rgb(167,163,163) ;
}

.album img {
    width: 12vw;
    height: 13vw;
}

/* fine album  */

/* barra di riproduzione  */

.cont-end {
    bottom: 0;
    width: 100%;
    height:10vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: rgb(63, 60, 60);
}

.brano {
    display: flex;
    align-items: center;
}

.nbrano {
    display: flex;
    margin: 0 10px;
    flex-direction: column;
    color: white;
}

#light-black {
    color: rgb(129, 127, 127);
}

.folder-heart {
    display: flex;
    flex-direction: column;
}

.fa-heart,
.fa-folder {
    margin: 2px 5px;
    color: rgb(167,163,163);
    font-size: 20px;

}

.margin-end {
    display: flex;
    margin: 0 20px;
}

/* bottoni time bar  */

.play-bar {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    color: rgb(255, 253, 253);
}

.fa-random,
.fa-step-backward,
.fa-step-forward,
.fa-redo-alt {
    font-size: 25px;
    margin: 5px 20px;
}

.fa-play-circle {
    font-size: 40px;
}

/* fine bottoni time bar  */

.margin-end img {
    width: 2.5vw;
    height: 2.5vw;
}

.cont-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.center-bar {
    width: 20vw;
    height: 0.3vw;
    margin: 0 10px;
}

.cont-center-bar {
    display: flex;
    align-items: center;
}

.cont-center-bar span {
    color: white;
}

.cont-bar-right {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.cont-bar-right .fas {
    margin-right: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

#bar {
    background-color: rgb(122,112,112);
    border-radius: 20px;
}

    
.cont-bar-right #inter-bar {
    width: 2vw;
}

#inter-bar {
    background-color: white;
    border-radius: 20px;
    width: 5vw;
    height: 0.3vw;
}

.right-bar {
    width: 8vw;
    height: 0.3vw;
}

/* fine barra di riproduzione  */

/* fine main */






